name: GitHub Actions

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 22
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          ref: main      
      - name: Use Node.js v${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: Create .env file
        run: |
          echo "PUBLIC_EMAILJS_SERVICE_ID=${{ secrets.PUBLIC_EMAILJS_SERVICE_ID }}" >> .env
          echo "PUBLIC_EMAILJS_CONTACT_TEMPLATE_ID=${{ secrets.PUBLIC_EMAILJS_CONTACT_TEMPLATE_ID }}" >> .env
          echo "PUBLIC_EMAILJS_PUBLIC_KEY=${{ secrets.PUBLIC_EMAILJS_PUBLIC_KEY }}" >> .env
      - name: Build
        run: |
            ls
            npm install
            npm run build
      - name: Verify dist folder
        run: test -d dist
      - name: Remove extra files
        run: rm -fr .github templates/emails 
      - name: Print current directory folders
        run: ls -d */
      - name: Upload ftp
        uses: sebastianpopp/ftp-action@releases/v2
        with:
          host: ${{ secrets.FTP_SERVER }}
          user: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          localDir: ./dist/
          remoteDir: ./